* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

header {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}
footer a{
	color: #fff;
}

a:hover {
    color: #0071c5;
}

main {
    margin-top: 100px;
}

#hero {
    background-color: #000;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
}

#hero a {
    background-color: #0071c5;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

#hero a:hover {
    background-color: #005ba9;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
